---
import PageLayout from "../layouts/PageLayout.astro";
/** TODO: updateAt should be the last commit on this page */
---
<PageLayout
  title="About"
  description="About me"
  updatedAt="2025-02-01"
>
<p>
  I am an experienced software engineer with <strong>a couple years</strong> of professional experiences building web applications and cross platform
  mobile applications with React Native/Expo. Currently focused on becoming a well rounded full-stack engineer who can <strong>design</strong>, <strong>build</strong> and <strong>ship</strong> complete products.
</p>

<p>This is site is where I document my journey, share the projects i am working on and the things I am learning.</p>

<h2>Get in touch</h2>
<p>The best way to reach me is vial email at <a href="mailto:odeloic@gmail.com">odeloic@gmail.com</a>.
</p>
</PageLayout>