---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Home" description="Fullstack software engineer. Building apps with React Native and Expo.">
	<div class="intro">
		<h1>Loïc Ishimwe (odeloic)</h1>
		<p class="tagline">
			Fullstack Software Engineer. <br>
			Building apps with React Native and Expo.
			<span class="accent">Learning and building in public.</span>
		</p>
	</div>
</BaseLayout>

<style>
	.intro	{
		margin-bottom: 5rem;
	}

	h1 {
		margin-bottom: var(--space-md);
	}

	.tagline {
		font-size: var(--font-size-xl);
		color: var(--color-text-muted);
		line-height: 1.5;
	}

	.accent {
		color: var(--color-accent);
	}
</style>