---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props;
const siteTitle = "Loïc Ishimwe (odeloic)"
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />

<title>{title} | {siteTitle}</title>

<!-- TODO: Learn about preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600&display=swap"
  rel="stylesheet"
/>

<!-- TODO: Is this a valid approach :: is:inline scripts ??? useful cases / warranted use cases -->
<script is:inline>
const theme = localStorage.getItem('theme') ||
(window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
document.documentElement.setAttribute('data-theme', theme)
</script>